<div class="stage-list">
    <div ng-repeat="stageRoadmapEntry in stageRoadmap">
        <a ng-show="stageRoadmapEntry.stage.name !== currentStageName && stageRoadmapEntry.isAvailable()"
           ng-click="setStage(stageRoadmapEntry.stage)"
           ng-class="{
               'complete': stageRoadmapEntry.isComplete(),
               'incomplete': stageRoadmapEntry.isIncomplete()
            }">
           {{::stageRoadmapEntry.stage.name}}
        </a>
        <span ng-show="stageRoadmapEntry.stage.name === currentStageName || !stageRoadmapEntry.isAvailable()"
              ng-class="{
                  'current': stageRoadmapEntry.stage.name === currentStageName,
                  'complete': stageRoadmapEntry.isComplete(),
                  'incomplete': stageRoadmapEntry.isIncomplete(),
                  'unavailable': !stageRoadmapEntry.isAvailable()
                }">
           {{::stageRoadmapEntry.stage.name}}
        </span>
    </div>
</div>
