<div class="modal-container" unfocus-modal>
    <div class="modal huge-modal">
        <div class="close-modal" ng-click="cancel()"></div>

        <div class="modal-content" ng-if="!module">
            <h2>Select Module</h2>

            <div class="tiles">
                <div class="tile" ng-repeat="moduleItem in modules" ng-click="selectModule(moduleItem)">
                    <img ng-src="{{::moduleItem.image}}"/>
                    <span>{{::moduleItem.label}}</span>
                </div>
            </div>
        </div>

        <div class="modal-content" ng-if="module && !workflow">
            <h2>Select Workflow</h2>

            <div class="tiles">
                <div class="tile" ng-repeat="workflowItem in workflows" ng-click="selectWorkflow(workflowItem)">
                    <img ng-src="{{::workflowItem.image}}"/>
                    <span>{{::workflowItem.label}}</span>
                </div>
            </div>
        </div>

        <div class="modal-content" ng-if="workflow">
            <run-workflow workflow="workflow" selected-nodes="modalOptions.selectedNodes"></run-workflow>
        </div>
    </div>
</div>
